# local dev
export PG_DB_NAME=
export PG_DB_HOST=
export PG_DB_PORT=
export PG_DB_USER=
export PG_DB_PASS=
export PG_DB_NAME_TEST=
export PYTHONPATH=$(pwd)/src

export M_DB_NAME=
export M_DB_HOST=
export M_DB_PORT=
export M_DB_USER=
export M_DB_PASS=

export O_DB_NAME=
export O_DB_HOST=
export O_DB_PORT=
export O_DB_USER=
export O_DB_PASS=

export MS_DB_NAME=
export MS_DB_HOST=
export MS_DB_PORT=
export MS_DB_USER=
export MS_DB_PASS=

export DB_DB_NAME=
export DB_DB_HOST=
export DB_DB_PORT=
export DB_DB_USER=
export DB_DB_PASS=
